<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Notification Usage Description</key>
	<string>Kullanıcıya zamanlayıcı bildirimi göndermek için izin istiyoruz.

Kullanıcıya zamanlayıcı bildirimi göndermek için izin istiyoruz.</string>
</dict>
</plist>
